<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="${id}"/>
  <form name="back" th:action="@{'/'+${role}+'/'+${id}}" method="get">
    <input type="submit" value="Back"></input>
    </form>
  <ul>
    <li>
      <input type="text" value="course_id" readonly="readonly"></input>
      <input type="text" value="course_name" readonly="readonly"></input>
      <input type="text" value="instructor_id" readonly="readonly"></input>
      <input type="text" value="instructor_name" readonly="readonly"></input>
    </li>
  </ul>
  <ul th:each="course: ${courses}">
    <li>
      <form th:action="@{'/' + ${role} + '/' + ${id} +'/course/add'}" method="post">
        <input type="text" name="cId" th:value="${course.id}" readonly="readonly"></input>
        <input type="text" name="cName" th:value="${course.name}" readonly="readonly"></input>
        <input type="text" name="iId" th:value="${course.iId}" readonly="readonly"></input>
        <input type="text" name="iName" th:value="${course.iName}" readonly="readonly"></input>
        <input type="submit" th:value="add"></input>
        </form>
    </li>
  </ul>
</body>
</html>
