<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <ul>
    <li>
      <input type="text" value="courseId" readonly="readonly"></input>
      <input type="text" value="courseName" readonly="readonly"></input>
      <input type="text" value="instructorId" readonly="readonly"></input>
      <input type="text" value="instructorName" readonly="readonly"></input>
      <input type="text" value="capacity" readonly="readonly"></input>
      <input type="text" value="margin" readonly="readonly"></input>
    </li>
  </ul>
  <ul th:each="course: ${courses}">
    <li>
      <form th:action="@{'/' + ${role} + '/' + ${id} +'/course/add'}" method="post">
        <input type="text" name="courseId" th:value="${course.id}" readonly="readonly"></input>
        <input type="text" name="courseName" th:value="${course.name}" readonly="readonly"></input>
        <input type="text" name="instructorId" th:value="${course.instructorId}" readonly="readonly"></input>
        <input type="text" name="instructorName" th:value="${course.instructorName}" readonly="readonly"></input>
        <input type="text" name="capacity" th:value="${course.capacity}" readonly="readonly"></input>
        <input type="text" name="margin" th:value="${course.margin}" readonly="readonly"></input>
        <input type="submit" th:value="add"></input>
        </form>
    </li>
  </ul>
</body>
</html>
