<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="${student.id}+ '::' +${student.name}"/>

    <form name="register" th:attr="action=@{'/student/'+${student.id}+'/register'}" method="get">
      <input type="submit" value="My Courses"></input>
    </form>

    <form name="query" th:attr="action=@{'/student/'+${student.id}+'/course'}" method="get">
      course_id:<input type="text" name="cId"></input><br/>
      course_name:<input type="text" name="cName"></input><br/>
      instructor_name:<input type="text" name="iName"></input><br/>
      <input type="submit" value="Course Query"></input>
    </form>
</body>
</html>
