<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="${student.id}+ '::' +${student.name}"/>
  <p th:text="${feedback}"/>
  <form name="refresh" th:action="@{'/student/'+${student.id}}" method="get">
    <input type="submit" value="refresh"></input>
    </form>
  <form name="logout" action="/index.html" method="get">
    <input type="submit" value="logout"></input>
    </form>
<hr/>
  <ul>
    <li>
      <input type="text" value="courseId" readonly="readonly"></input>
      <input type="text" value="courseName" readonly="readonly"></input>
      <input type="text" value="instructorId" readonly="readonly"></input>
      <input type="text" value="instructorName" readonly="readonly"></input>
      <input type="text" value="scores" readonly="readonly"></input>
    </li>
  </ul>

  <ul th:each="register: ${registers}">
    <li>
      <form th:action="@{'/student/' + ${student.id} +'/course/delete'}" method="post">
        <input type="text" name="courseId" th:value="${register.courseId}" readonly="readonly"></input>
        <input type="text" name="courseName" th:value="${register.courseName}" readonly="readonly"></input>
        <input type="text" name="instructorId" th:value="${register.instructorId}" readonly="readonly"></input>
        <input type="text" name="instructorName" th:value="${register.instructorName}" readonly="readonly"></input>
        <input type="text" name="instructorName" th:value="${register.score}==-1?'Not yet':${register.score}" readonly="readonly"></input>
        <input type="submit" th:value="delete"></input>
        </form>
    </li>
  </ul>
<hr/>
  <ul>
    <li>
      <input type="text" value="courseId" readonly="readonly"></input>
      <input type="text" value="courseName" readonly="readonly"></input>
      <input type="text" value="instructorId" readonly="readonly"></input>
    </li>
  </ul>
  <ul>
    <li>
    <form name="query" th:attr="action=@{'/student/'+${student.id}+'/course'}" method="get">
      <input type="text" name="courseId"></input>
      <input type="text" name="courseName"></input>
      <input type="text" name="instructorName"></input>
      <input type="submit" value="Course Query"></input>
    </form>
    </li>
    </ul>
</body>
</html>
